slurm_logs
slurm_logs/*
lightning_logs
lightning_logs/*
.vscode
.vscode/*
__pycache__
__pycache__/*
mdmm/__pycache__
mdmm/__pycache__/*
.ipynb_checkpoints
.ipynb_checkpoints/*
mdmm/.ipynb_checkpoints
mdmm/.ipynb_checkpoints/*
Stain_Normalization
Stain_Normalization/*
f1_score.pdf
pr_auc.pdf
gan_weights.pth
._*
.gitignore
experimental_results.ipynb
test.png
Visualize_augmentations.ipynb