absl-py==0.11.0
aiohttp==3.7.3
# argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
async-generator==1.10
async-timeout==3.0.1
# attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
# autopep8 @ file:///tmp/build/80754af9/autopep8_1620866417880/work
backcall==0.2.0
# bleach @ file:///tmp/build/80754af9/bleach_1611690509631/work
bokeh==2.3.1
boto3==1.16.36
botocore==1.19.36
brotlipy==0.7.0
cachetools==4.1.1
certifi==2021.5.30
# cffi @ file:///tmp/build/80754af9/cffi_1606255099073/work
# chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
click==7.1.2
# cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorcet==2.0.6
# cryptography @ file:///tmp/build/80754af9/cryptography_1607635305226/work
ctk-cli==1.5
cycler==0.10.0
Cython==0.29.22
cytoolz==0.11.0
# dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1612568682000/work
datashader==0.12.1
datashape==0.5.2
decorator==4.4.2
defusedxml==0.6.0
diskcache==5.1.0
distributed==2020.12.0
entrypoints==0.3
filelock==3.0.12
fsspec==0.8.4
future==0.18.2
# GDAL==3.3.0
gdown==3.12.2
girder-client==3.1.3
girder-slicer-cli-web==1.1.1
Glymur==0.9.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grpcio==1.33.2
h5py==2.8.0
HeapDict==1.0.1
# histomicstk==1.0.6
holoviews==1.14.3
# idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
# imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imgaug==0.4.0
# importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
# ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipympl==0.6.2
ipython==7.18.1
# ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
# jedi @ file:///tmp/build/80754af9/jedi_1611333758854/work
# Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
jmespath==0.10.0
# joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
json5==0.9.5
# jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
# jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
# jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1606148959479/work
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.2.9
# jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
# jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets==1.0.0
kaggle==1.5.10
# kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014532738/work
large-image==1.3.1
large-image-source-bioformats==1.3.1
large-image-source-dummy==1.3.1
large-image-source-gdal==1.3.1
large-image-source-mapnik==1.3.1
large-image-source-nd2==1.3.1
large-image-source-ometiff==1.3.1
large-image-source-openjpeg==1.3.1
large-image-source-openslide==1.3.1
large-image-source-pil==1.3.1
large-image-source-test==1.3.1
large-image-source-tiff==1.3.1
# libtiff==0.5.0
llvmlite==0.34.0
locket==0.2.0
lxml==4.6.2
# mapnik==4.0.0
Markdown==3.3.3
# MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
# matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1603376012865/work
# mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
# mkl-fft==1.2.0
# mkl-random==1.1.1
# mkl-service==2.3.0
msgpack==1.0.1
multidict==5.1.0
multipledispatch==0.6.0
# nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
# nbconvert @ file:///tmp/build/80754af9/nbconvert_1594376811065/work
# nbformat @ file:///tmp/build/80754af9/nbformat_1610738111109/work
nd2reader==3.2.3
# nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
# networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nimfa==1.4.0
# notebook @ file:///tmp/build/80754af9/notebook_1611340986969/work
# numba @ file:///tmp/build/80754af9/numba_1600102479638/work
numpy==1.19.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
openslide-python==1.1.2
# packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
palettable==3.3.0
pandas==1.2.1
# pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120451932/work
panel==0.11.3
param==1.10.1
# parso @ file:///tmp/build/80754af9/parso_1607623074025/work
partd==1.1.0
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
# Pillow @ file:///tmp/build/80754af9/pillow_1609786740831/work
PIMS==0.5
pkgconfig==1.5.1
plotly==4.14.3
# prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit==1.0.15
protobuf==3.13.0
psutil==5.7.3
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
# pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
# pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyct==0.4.8
pydevd-pycharm==203.6682.179
# Pygments @ file:///tmp/build/80754af9/pygments_1610565767015/work
# pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
# pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyproj==3.0.0.post1
# pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141707582/work
# PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-bioformats==4.0.0
python-dateutil==2.8.1
# python-javabridge==4.0.0
python-slugify==4.0.1
pytorch-lightning==1.1.8
# pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
pyvips==2.1.13
pyviz-comms==2.0.1
# PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1602504439149/work
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==4.7.7
QtPy==1.9.0
# requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.6
s3transfer==0.3.3
# scikit-image==0.17.2
# scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376882706/work
# scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
# seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
# Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
# Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1611315608456/work
simplegeneric==0.8.1
# six @ file:///tmp/build/80754af9/six_1605205313296/work
sklearn==0.0
slicerator==1.0.0
sortedcontainers==2.3.0
spams==2.6.2.5
SQLAlchemy==1.3.20
tblib==1.7.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
terminado==0.9.2
test-tube==0.7.5
testpath==0.4.4
text-unidecode==1.3
# threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.12.8
tifftools==1.1.0
# toml @ file:///tmp/build/80754af9/toml_1616166611790/work
# toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
# tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm==4.51.0
# traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
# typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
# umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1593739701321/work
# urllib3 @ file:///tmp/build/80754af9/urllib3_1611694770489/work
# wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wsiprocess==0.7
xarray==0.17.0
xmltodict==0.12.0
yarl==1.6.3
zict==2.0.0
# zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
